@mixin fluid-text($max: 48, $min: 16) {
    font-size: clamp(#{$min}px, #{$max / 1440 * 100}vw ,#{$max}px);
}

@mixin reset-link {
    color: inherit;
    
    &,
    &:hover {
        text-decoration: none;
    }
}

@mixin reset-button {
    padding: 0;
    background-color: transparent;
    border: none;
}

@mixin flex-center($isInline: false) {
    @if $isInline {
        display: inline-flex;
    }
    @else {
        display: flex;
    }

    justify-content: center;
    align-items: center;
}

@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

@mixin square($size) {
    width: $size;
    aspect-ratio: 1;
}

@mixin sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    width: 1px !important;
    position: absolute !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    padding: 0 !important;
    margin: -1px !important;
}

@mixin calendar-event($event-name, $text-color, $background-color) {

    .calendar-event.#{$event-name} {
      background-color: $background-color;
      color: $text-color;
    }
  }