@import './media';
@import './mixins';

:root {
    --color-dark: #2C3436;
    --color-dark-alt: #222f3e;
    --color-gray: #81858a;
    --color-light: #ffffff;
    --color-purple-light: #867AEB;
    --color-purple: #584CAE;
    --color-primary: #867aeb;
    --color-purple-dark: #4D3DE1;
    --color-gold-light: #FFDD75;
    --color-gold-dark: #FABB00;
    --color-green: #83C93C;
    --color-select-table: #dfdbfd;

    --color-button-default-light: #f2f2f2;
    --color-button-default-dark: #6f8399;
    --color-button-default-red: #ff647c;

    --color-button-crud-hover-bg-light-theme: #cecece;
    --color-button-crud-hover-bg-dark-theme: #8298b0;

    --event-yellow: #FFE2AD;
    --event-red: #FFC8D0;
    --event-green: #BAF2D8;
    --event-purple: #D6D0FF;
    --event-blue: #BAF7FF;

    --border-radius: 5px;

    --font-family-base: 'Heebo', 'sans-serif';

    --container-width: 1240px;

    --container-padding-x: 12px;
    --section-padding-y: 12px;

    --input-height: 34px;

    --button-height: 34px;

    --transition-duration: 0.2s;

    --font-size-xs: 13px;
    --font-size-s: 16px;

    @include desktop {
        --section-padding-y: 10px;
    }

    @include mobile {
        --section-padding-y: 6px;
    }
}