// .petsTable {
//     border: 1px solid #4f5c78;
//     border-collapse: collapse;
//     font-family: 'OpenSans';
// }

// .headT td {
//     border: 1px solid #4f5c78;
//     font-weight: 600;
//     width: 950px;
//     padding-right: 17px;
//     text-align: left;
//     padding: 5px;
// }

.inputFields {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.Field {
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px; 
}

.inputFields label {
    font-family: 'OpenSans';
}
