@import '/src/app/styles/index.scss';

.modal {
    @include abs-center;
    flex-direction: column;
    display: none;
    position: absolute;
    padding: 25px 10px 30px 10px;
    min-width: 200px;
    min-height: 200px;
    background-color: var(--bg-color);
    border-radius: var(--border-radius);
    color: var(--color-theme);
}

.open {
    display: flex;
}

.content {
    @include flex-center;
    flex-direction: column;
    row-gap: 30px;
    padding: 5px 5px 30px 5px;
    width: max-content;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    margin-top: -20px;
}