@import '../../../app/styles/index';

.Button {
    @include reset-button;
    cursor: pointer;

}

.square-s {
    @include square(32px);
}

.dark-theme,
.light-theme {
    position: fixed;
    bottom: 5px;
    right: 8px;
    background-color: var(--theme-button-color);
    color: var(--select-menu-color);
    border-radius: var(--border-radius);
    @include hover {
        @include square(32px);
        border: 2px solid var(--select-menu-color);
    }
}

.dark-theme::after,
.light-theme::after {
    content: '';
    position: absolute;
    @include square(14px);
    @include abs-center;
}

.dark-theme::after {
    background: url('../../assets/icons/theme/light.svg') center/cover no-repeat;
}

.light-theme::after{
    background: url('../../assets/icons/theme/dark.svg') center/cover no-repeat;
}