@import '/src/app/styles/index.scss';

.Button {
    @include reset-button;
    padding: 0 16px;
    height: var(--button-height);
    font-size: var(--font-size-xs);
    text-align: center;
    cursor: pointer;
    font-family: 'OpenSans', sans-serif;

    &:disabled {
        cursor:unset;
        opacity: 0.3;
    }
}

.border-radius {
    border-radius: var(--border-radius);
}

.transparent {
    background-color: transparent;
}

.icon {
    background-repeat: no-repeat;
    background-position: 10px;
    background-size: 15px;
    padding-left: 32px;
}

.icon-large {
    background: no-repeat 0px;
    background-size: 17px;
    padding-left: 41px;
}

.icon-center {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        @include square(14px);
        @include abs-center;
    }
}

.dropListButton {
    position: relative;
    width: 100%;
    text-align: left;
    color: var(--color-light);
    font-weight: 500;
    font-size: 15px;
    transition-duration: 0s;
    border-bottom: 1px solid transparent;

    @include hover {
        color: var(--button-color);
        opacity: 0.9;
    }


    &::after {
        content: '';
        position: absolute;
        @include square(14px);
        top: calc(var(--button-height) /2);
        left: 100%;
        translate: -100% -50%;
        background-image: url(../../assets/icons/dropArrow/drop-down.svg);
    }
}

.navDropListOpen {
    color: var(--blocked-element-color);
    border-bottom: 1px solid var(--blocked-element-color);

    @include hover {
        color: var(--blocked-element-color);
        opacity: 1;
    }

    &::after {
        background-image: url(../../assets/icons/dropArrow/drop-up.svg);
    }
}

.square-s {
    padding: 0;
    @include square(32px);
}


.square-m {
    padding: 0;
    @include square(40px);
}

.arrowLeftButton {
    background-color: var(--color-gray);

    &::after {
        background-image: url(../../assets/icons/buttons/arrow-left.svg);
        @include square(20px);
    }

    &:not(:disabled)
    {
        @include hover {
            filter: brightness(1.2);
        }
    }
    
}

.leaveButton {
    background-color: var(--color-purple);


    &::after {
        background-image: url(../../assets/icons/buttons/leave.svg);
        @include square(25px);
    }

    &:not(:disabled)
    {
        @include hover {
            filter: brightness(1.2);
        }
    }

}


.loginButton,
.createButton {
    &:not(:disabled)
    {
        @include hover {
            background-color: var(--color-purple);
        }
    }

}

.crud {
    background-color: var(--theme-crud-button-color-bg);
    transition-duration: 0s;
    color: currentColor;
    font-weight: 500;

    &:not(:disabled)
    {
        @include hover {
            background-color: var(--color-hover-crud-button-bg);
        }
    }

}

.clearFilterButton {
    background-image: url(../../assets/icons/buttons/eraser.svg);
}

.createButton {
    background-color: var(--color-purple-light);
    color: var(--color-light);
    background-image: url(../../assets/icons/buttons/blank.svg);  

    &:not(:disabled)
    {
        @include hover {
            background-color: var(--color-purple-light);
            filter: brightness(1.2);
        }
    }
}

.editButton {
    background-image: url(../../assets/icons/buttons/pencil.svg);

}

.crud.deleteButton {
    background-color: var(--color-button-default-red);
    color: var(--color-light);
    background-image: url(../../assets/icons/buttons/cross.svg);

    &:not(:disabled)
    {
        @include hover {
            background-color: var(--color-button-default-red);
            box-shadow: inset 0 0 100px 100px rgba(255, 0, 0, 0.5);
        }
    }

}

.excelButton {
    background-image: url(../../assets/icons/buttons/excel.svg);

.createButton {
    height: 34px;
    width: 100px;
    background-color: var(--color-purple-light);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xs);
    color: var(--color-light);
    @include hover {
        filter: brightness(0.9);
    }
    background-image: url(../../assets/icons/buttons/blank.svg);    
}

.editButton {
    height: 34px;
    width: 100px;
    background-color: var(--color-anti-flash-white);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xs);
    background-image: url(../../assets/icons/buttons/pencil.svg);
    color: var(--color-purple-navy);
    text-align: center;
    @include hover {
        filter: brightness(0.9);
    }
}

.deleteButton {
    height: 34px;
    width: 100px;
    background-color: var(--color-light-red);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xs);
    background-image: url(../../assets/icons/buttons/cross.svg);
    color: var(--color-light);
    text-align: center;
    @include hover {
        filter: brightness(0.9);
    }
}

.excelButton {
    height: 34px;
    width: 100px;
    background-color: var(--color-anti-flash-white);
    border-radius: var(--border-radius);
    font-size: var(--font-size-xs);
    background-image: url(../../assets/icons/buttons/excel.svg);
    color: var(--color-purple-navy);
    text-align: center;
    @include hover {
        filter: brightness(0.9);
    }
}

.loginButton {
    width: 200px;
    height: 40px;
    background-color: var(--color-purple-light);
    opacity: 0.85;

    font-weight: 700;
    color: var(--color-light);
}

.accountsButton {
    align-self: flex-end;
    color: var(--color-purple-light);
    background-color: transparent;
    padding-block: 0;
    padding-right: 0;
    margin-bottom: -18px;
    background-image: url(../../assets/icons/buttons/accent.svg);
    &:not(:disabled)
    {
        @include hover {
            opacity: 0.7;
        }
    }


}


.dark-theme,
.light-theme {
    position: fixed;
    bottom: 10px;
    right: 12px;
    background-color: var(--theme-button-color);
    color: var(--color-theme);
    transition-duration: 0s;

    &:not(:disabled)
    {
        @include hover {
            @include square(32px);
            border: 2px solid var(--button-accent-hover-color);
        }
    }

}

.dark-theme {
    &:not(:disabled)
    {
        @include hover {
            filter: brightness(1.2);
        }
    }

    &::after{
        background: url('../../assets/icons/theme/light.svg') center/cover no-repeat;
    }
}


.light-theme::after{
    background: url('../../assets/icons/theme/dark.svg') center/cover no-repeat;
}

.petclinicButton {
    background-image: url('../../assets/icons/navDropList/petclinic.svg')
}

.masterDataButton {
    background-image: url('../../assets/icons/navDropList/masterData.svg')
}

.adminButton {
    background-image: url('../../assets/icons/navDropList/admin.svg')
}

.closeModal {
    position: relative;
    width: 20px;
    height: 20px;
    align-self: flex-end;
    padding: 5px;
    margin-top: -15px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 48%;
        left: 15%;
        width: 70%;
        height: 2px;
        background-color: var(--color-theme);
        border-radius: 5px;
    }

    &::before {
        rotate: 45deg;
    }

    &::after {
        rotate: -45deg;
    }

    &:not(:disabled)
    {
        @include hover {
            opacity: 0.7;
        }
    }

}