@import '/src/app/styles/index.scss';


.table {

    user-select: none;
    font-weight: 500;
    font-size: 14px;

    table {
        width: 100%;
        border-collapse: collapse;
        background-color: transparent;
    }

    thead, tbody {
        background-color: transparent;
    }

    tbody {
        margin-top: 20px;
    }

    th, td {
        text-align: left;
        padding: 0;
        height: 20px !important;
        background-color: var(--bg-color);
    }

    tr:hover td {
        background-color: inherit !important;
        opacity: 1 !important;
    }

    tbody tr:nth-child(even) {
        background-color: inherit !important;
        opacity: 1 !important;
    }

    .timeColumn {
        width: 60px;
        text-align: center;
    }

    .dayColumn {
        text-align: center;
        vertical-align: top;
        height: 25px;
        color: var(--color-theme);
        border-bottom: 3px solid var(--color-purple-light);
    }

    .house, .halfHouse {
        &::after {
            @include abs-center;
            content: '';
            width: 100%;
            height: 1px;
        }
    }

    .house {
        &::after {
            border-bottom: 1px solid var(--color-gray);
        }
    }

    .halfHouse {
        &::after {
            border-bottom: 1px dotted var(--color-gray);
        }
    }
    

    .eventsContainer {
        user-select: none;
        position: relative;
        font-size: 13px;
        color: var(--color-dark);
    }
}

