.page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    color: var(--color-text-theme)
}

.pageZone {
    width: calc(100% - 250px);
}


.content {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 12px;
}