.page {
    min-height: 100vh;
    display: flex;
}

.historyBar {
    display: block;
    min-width: 100vmax;
}

.historyBar .hh {
    border: 1px solid;
    border-color: #867aeb;
}

.content {
    width: 100%;
    //display: flex;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
}