.page {
    min-height: 100vh;
    display: flex;
}

.content {
    width: 100%;
    //display: flex;
    // justify-content: center;
    // align-items: center;
    flex-wrap: wrap;
    margin-left: 10px;
}