@import '../../../app/styles/index';

.Select {
    border-radius: var(--border-radius);

    width: 100%;
    height: var(--input-height);
    
    @include hover {
        border-color: var(--color-purple-dark);
    }
    
    &:focus {
        border-color: var(--color-purple-dark);
    }
}