.app--dark-theme {
    --bg-color: var(--color-dark-alt);
    --side-menu-bg-color: var(--color-dark);
    --visit-count-bg-color: var(--color-gray);
    --select-menu-color: var(--color-purple-dark);
    --theme-button-color: var(--color-gray);
    --color-theme: var(--color-light);
}
