.app--dark-theme {
    --bg-color: var(--color-dark-alt);
    --color-theme: var(--color-light);

    --theme-button-color: var(--color-gray);
    --button-color: var(--color-purple-light);
    --button-accent-hover-color: var(--color-dark);

    --Input-border-color: var(--color-purple-light);

    --sidebar-bg-color: var(--color-dark);

    --blocked-element-color: var(--color-gray);

}
