.app--dark-theme {
    --bg-color: var(--color-dark-alt);
    --color-theme: var(--color-light);

    --theme-button-color: var(--color-gray);
    --theme-crud-button-color-bg: var(--color-button-default-dark);
    --color-text-theme: var(--color-light);
    --color-hover-crud-button-bg: var(--color-button-crud-hover-bg-dark-theme);

    --button-color: var(--color-purple-light);
    --button-accent-hover-color: var(--color-dark);

    --Input-border-color: var(--color-purple-light);

    --sidebar-bg-color: var(--color-dark);

    --blocked-element-color: var(--color-gray);

    --active-nav-history-link-color: var(--color-purple);

    --Purple-Dark-color: var(--color-purple);
    --Purple-light-dark: var(--color-purple-light);

    --Calendar-color: var(--color-light);
}
