.app--light-theme {
    --bg-color: var(--color-light);
    --side-menu-bg-color: var(--color-purple-light);
    --visit-count-bg-color: var(--color-gold-dark);
    --select-menu-color: var(--color-gold-light);
    --theme-button-color: var(--color-dark);
    --color-theme: var(--color-dark);
}