.app--light-theme {
    --bg-color: var(--color-light);
    --color-theme: var(--color-dark);

    --theme-button-color: var(--color-dark);
    --button-color: var(--color-gold-light);

    --Input-border-color: var(--color-dark);

}