.app--light-theme {
    --bg-color: var(--color-light);
    --color-theme: var(--color-dark);

    --theme-button-color: var(--color-dark);
    --color-text-theme: var(--color-button-default-dark);
    --color-hover-crud-button-bg: var(--color-button-crud-hover-bg-light-theme);

    --theme-crud-button-color-bg: var(--color-button-default-light);
    --button-color: var(--color-gold-light);
    --button-accent-hover-color: var(--color-gold-light);

    --Input-border-color: var(--color-dark);

    --sidebar-bg-color: var(--color-purple-light);

    --blocked-element-color: rgba(255, 255, 255, 0.5);

    --active-nav-history-link-color: var(--color-purple-light);

    --Purple-Dark-color: var(--color-dark);

    --Calendar-color: var(--color-gold-light);
}