@import '../../../app/styles/index';

.Table {
    border: 1px solid #4f5c78;
    border-collapse: collapse;  
    font-family: 'OpenSans', sans-serif;
    width: 100%;
    position: sticky;
    overflow-y: scroll;
}

.table-wrapper {
    margin-bottom: 25px;
    border-radius: 6px;
    background: #fff;
    overflow: hidden; /* Clips any scrollbars that appear */
}

 .container {
     width: 100%;
     height: 550px;
     overflow: hidden;
     overflow-y: scroll;
 }

.head {  
    overflow: hidden;
    resize: horizontal;
    border: 1px solid #4f5c78;
    font-weight: bold;
    font-size: medium;
    padding-right: 17px;
    text-align: left;
    padding: 10px;
    width: auto;
}

td {
  padding: 10px;
}

tr:hover td{

    background: var(--color-select-table);/* фон строки при наведении */

  }

  tbody tr:nth-child(odd) {

    background-color: var(--light);/* фон нечетных строк */

  }

  tbody tr:nth-child(even) {

    background-color: var(--color-button-default-light);/* фон четных строк */

  }

  .active {
    background-color: var(--color-select-table) !important;
  }

  .fixed {
    top: 0;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
  }

  .sorting{
    overflow: hidden;
    resize: horizontal;
    border: 1px solid #4f5c78;
    font-weight: bold;
    font-size: medium;
    padding-right: 17px;
    text-align: left;
    padding: 10px;
    width: auto;

    top: -3px;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    background-color: white;

    //position: relative;
    padding-right: 20px !important;
    cursor: pointer;
    user-select: none;
  
    &.is-sortASC {
      &:before{
        color: #333;
      }
    }
  
    &.is-sortDESC {
      &:after{
        color: #333;
      }
    }
  
    &:before, &:after{
      position: absolute;
      content: '';
      right: 5px;
    }
  
    &:before{
      top: 50%;
      margin-top: -5px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 5px 5px 5px;
      border-color: transparent transparent #333 transparent;
    }
  
    &:after{
      top: 50%;
      margin-top: 1px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #333 transparent transparent transparent;
    }
  }


