
.container {
    padding: 12px;
    padding-bottom: 0;
}

.border {
    border: 2px solid var(--color-purple);
    border-radius: 10px;
}

.activeBorder {
    border: 2px solid var(--color-purple);
    border-radius: 10px;
}

.CalendarPanel {
    padding: 12px;
}

.containerOption {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-theme);

    &:first-child {
        margin-top: 20px;
    }
}

.option {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}