@import '/src/app/styles/index.scss';

.container {
    padding: 12px;
    padding-bottom: 0;
}

.border {
    border: 2px solid var(--color-purple);
    border-radius: 10px;
}

.activeBorder {
    border: 2px solid var(--color-purple);
    border-radius: 10px;
}

.CalendarPanel {
    padding: 12px;
}

.containerOption {
    width: 300px;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.title {
    font-weight: 700;
    font-size: 14px;
    color: var(--color-theme);

    &:first-child {
        margin-top: 20px;
    }
}

.option {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.visitTypeList {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    list-style: none;
    font-size: 14px;
}

.inputWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    column-gap: 15px;
    user-select: none;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.radioWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    column-gap: 15px;
    user-select: none;
}

.calendarMode {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.REGULAR_CHECKUP, .DISEASE_TREATMENT, .RECHARGE, .STATUS_CONDITION_HEALING, .OTHER {
    @include square(15px);
}

.DISEASE_TREATMENT {
    background-color: var(--event-red);
}

.RECHARGE {
    background-color: var(--event-green);
}

.STATUS_CONDITION_HEALING {
    background-color: var(--event-yellow);
}

.REGULAR_CHECKUP {
    background-color: var(--event-blue);
}

.OTHER {
    background-color: var(--event-purple);
}